body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0022b9c4;
}

header img {
    height: 40px;
}

header a {
    text-decoration: none;
    margin-left: 15px;
    color: #000000;
    font-weight: bold;
}

.bandeauH {
    color: rgb(255, 255, 255);
    padding: 20px 20px;
    background-size: cover;
    background-position: top;
    background-image: url(./images/Data.png);
}

.bandeauH h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.cases {
    background-color: rgba(97, 97, 97, 0.822);
    border: 4px solid #000000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    min-width: 900px;
    max-width: auto;
    text-align: center;
}

.exercices {
    background-color: #b9b9b9;
    border: 4px solid #5a5a5a;
    border-radius: 10px;
    padding: 20px;
    margin: 10px auto;
    min-width: 1800px;
    max-width: auto;
    text-align: center;
    align-content: center;
}

.principale {
    display: flex;
    padding: 20px;
    background-color: #ffffff;
}

.principale .exercices .exception{
    text-align: left;
}

footer {
    text-align: center;
    padding: 20px;
    background-image: url(./images/Data.png);
    background-position: bottom;
}

footer cite {
    display: block;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-weight: bold;
}

.bouton {
    list-style-type: none;
    justify-content: center;
    padding: 20px;
    display: flex;
    gap: 15px;
    background-color: #dfdfdf;
    color: rgb(0, 0, 0);
}

.boutonRemonter {
    list-style-type: none;
    justify-content: center;
    padding: 20px;
    display: flex;
    gap: 15px;
    color: rgb(0, 0, 0);
}

.boutonRemonter a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #8d8d8d;
    border-radius: 5px;
}

.exception2 ul {
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: center;
    padding: 10px;
}

.exception2 table {
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
}

.exception2 th, td {
    padding: 8px;
    border: 1px solid black;
}

.exception2 th {
    background-color: rgb(236, 0, 0);
    color: white;
}

table {
    display: center; 
    border-collapse: collapse; 
    text-align: center;
}